body {
  margin-top: 75px;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 20px;
}

.tab-pane {
  margin-top: 20px;
}

.custom-combobox a.ui-button {
  position: absolute;
}

.custom-combobox .ui-state-default {
  background-image: none;
  background-color: white;
}